.calculator_container {
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
  min-width: fit-content;
  //border: black dotted 2px;

  //for phone screens
  @media only screen and (max-width: 600px) {
    font-size: 1.2rem;
    max-width: 96vw;
  }

  // for above phone screen size
  @media only screen and (min-width: 601px) {
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 1.5rem;
  }
}

.display {
  display: flex;
  width: auto;
  max-width: 91vw;
  height: 10vh;
  background-color: lightgray;
  border: black solid 0.4rem;
  padding: 0.5rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 2rem;
  align-items: flex-end;
  word-break: break-all;
  @media only screen and (min-width: 601px) {
    max-width: 487px;
  }
}

.buttons_container {
  display: grid;
  width: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.2rem;
  background-color: black;
  padding: 0.4rem;
  //for phone screens
  @media only screen and (max-width: 600px) {
    height: 82vh;
  }

  // for above phone screen size
  @media only screen and (min-width: 601px) {
    height: 60vh;
    max-width: 500px;
  }
}

.button {
  font-size: 3rem;
  font: black;
  border-radius: 0.5rem;
  &_numbers {
    background-color: antiquewhite;
  }
  &_operators {
    background-color: lightcoral;
    &-mod {
      background-color: peachpuff;
    }
    &-equals {
      background-color: peachpuff;
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}
