.button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    &_numbers{
        background-color: antiquewhite;

    }
    &_operators{
        background-color: lightcoral;
        &-clear{
            background-color: peachpuff;       
        }
        &-equals{
            grid-column: 3/4;
        }
    }
        
}